%p#notice= notice

= image_tag @user.avatar_url

%p
  %strong First name:
  = @user.first_name

%p
  %strong Last name:
  = @user.last_name

%p
  %strong Timezone:
  = @user.time_zone

%p
  %strong Email:
  = link_to @user.email, 'mailto:' + @user.email

%br

- if can? :update, @user
  = button_link 'Edit', edit_user_path(@user)
= button_link 'Back', users_path
